<% content_for :body do %>
  <%=raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) unless params[:page] %>

  <% if @items.any? %>
    <% @items.each do |item| %>
      <article class="news_item_truncated">
        <h2><%= link_to item.title.upcase, refinery.news_item_path(item) %></h2>
        <p>
          <small><%= t('.published') %> <%= l(item.publish_date, :format => :long) %></small>
        </p>
        <%= truncate  item.body, :length => 300,
                                 :omission => " ... ",
                                 :preserve_html_tags => true %>
        <%= link_to 'READ MORE', refinery.news_item_path(item), class: "readMore" %>
      </article>
    <% end %>

    <%= will_paginate @items %>
  <% else %>
    <p><em><%= t('.no_items_yet') %></em></p>
  <% end %>
<% end -%>

<% content_for :side_body do %>
  <aside>
    <h2>Other News</h2>
    <ul id="other_news">
      <% @items.each do |item| %>
        <li>
          <h2><%= link_to item.title.upcase, refinery.news_item_path(item) %></h2>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<% content_for :body_content_right_prepend do -%>
  <%= raw @page.content_for(::Refinery::Pages.default_parts.second.to_sym) %>
<% end if ::Refinery::Pages.default_parts.many? -%>
<%= render '/refinery/news/shared/body_content_right' %>

<%= render "/refinery/content_page" %>
