<script type="text/javascript" src="https://fast.fonts.net/jsapi/6f1085f0-e386-42b2-94f0-2f2dd5398d89.js"></script>

<div id='topMenu'>
  <div id='topPic'>
    <%= image_tag "ws2.jpg", :class => 'topImage' %>
  </div>
  <div class='headerContainer'>
    <div class='logoContainer'>
    <%= link_to image_tag("falcon-birdlogo.png", :class => 'logo'), refinery.root_path %>
    </div>
    <div id='title'>
      <%= link_to image_tag("mphclogowhite.png", :class => 'typeLogo'), refinery.root_path %>
    </div>
    <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
    <div id="search_container">
    <%= form_tag refinery.search_path do -%>
      <%= text_field_tag :query, {}, {
                         :type => "search",
                         :placeholder => "search",
                         :value => (params[:query] if params[:query])} %>
    <% end %>
    </div>
    <div id="social_media"><a href="http://www.facebook.com/mphcofficial"><%= image_tag("fb_ico.png") %></a></div>
  </div>
</div>
<style>
#social_media {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-top: 8px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
}
</style>
